@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.header {
  background-color: #2f2c47;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-family: 'Press Start 2P';
}

.LeaderBoard {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.listElement {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

.listElementSelected {
  background-color: #c8786f;
}

.listElementDark {
  background-color: lightgrey;
}

.rank {
  width: 10%;
  color: #2f2c47;
}

.name {
  width: 75%;
  color: #2f2c47;
}

.score {
  width: 15%;
  color: #2f2c47;
}

body {
  background: url('synthwave.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 700px;
  margin: 80px auto;
}
