@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: url('./resources/synthwave.jpg') no-repeat center center fixed;
  background-size: cover;
}
a:hover {
  color: #b03013;
}
.Nav {
  background-color: #2f2c47;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: 'Press Start 2P';
}
.LeaderBoard {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f4f4;
}
.GroupPage {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f4f4;
  line-height: 2em;
}
.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f5f4f4;
}
.groupImage {
  width: 80%;
  margin: 20px auto;
}
.navBar {
  text-align: center;
  display: flex;
  align-items: center;
  height: 3em;
  background-color: #2f2c47;
  color: white;
  justify-content: space-around;
  list-style-type: none;
}
.fadderukeLink {
  color: #c0392b;
  display: inline-block;
  transition: transform 0.1s linear;
}
.leaderboardTitle {
  text-decoration: none;
  color: white;
}
.listElement {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.2em;
}
.listElement:hover {
  background-color: #c8786f;
}
.listElementDark {
  background-color: lightgrey;
}
.boardRank {
  margin-left: 1em;
  color: #2f2c47;
}
.boardName {
  width: 25em;
  color: #2f2c47;
}
.boardScore {
  width: 2em;
  margin-right: 1.5em;
  color: #2f2c47;
}
.container {
  width: 700px;
  margin: 80px auto;
}
@media (max-width: 750px) {
  .container {
    width: 100%;
    margin: 0 0;
  }
  .listElement {
    font-size: 14px;
  }
  .Nav {
    font-size: 20px;
  }
}
